.sh {
  overflow-x: hidden;
}
.body-container a {
  transition: color 0.5s;
}
.body-container a:hover {
  color: #3aae2a;
}
/* Banner Styling */
.banner h1 {
  font-size: 60px;
}
.banner:before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
}
@media screen and (max-width: 767px) {
  .banner h1 {
    font-size: 48px;
  }
}
/* Accordion CSS */
.accordion {
  cursor: pointer;
  transition: background-color 0.5s;
}
.accordion__content {
  overflow: hidden;
  transition: max-height 0.5s, color 0.5s;
}
.accordion__content p {
  margin-bottom: 0;
}
.accordion__content ul {
  padding-top: 20px;
}
.accordion.active.bg-white {
  background-color: green !important;
  color: #fff;
}
.MuiSvgIcon-root.up {
  display: none;
}
.active .MuiSvgIcon-root.down {
  display: none;
}
.active .MuiSvgIcon-root.up {
  display: block;
  margin-top: 6px;
}
/* Projects */
.project-image {
  max-height: 260px;
}
.project-image img,
.item figure img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.project-image img:hover,
.item figure img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
